.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  width: 60vw;
  max-height: 800px;
  min-width: 600px;
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 139);
  background-color: white;
  padding: 2rem;
}

.signup_form {
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_header {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.3rem;
  color: rgb(0, 0, 139);
  margin-bottom: 2rem;
}

.sign-text {
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  width: 100%;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 139);
  color: rgb(0, 0, 139);
}

.sign-text:focus {
  outline: none;
  border-color: rgb(0, 0, 139);
}

.sign-btn {
  background-color: aliceblue;
  border: 2px solid rgb(0, 0, 139);
  border-radius: 30px;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
  color: rgb(0, 0, 139);
  cursor: pointer;
  margin-top: 1.6rem;
  transition: all 400ms;
  text-align: center;
}

.sign-btn:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px rgb(0, 0, 139);
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.img_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.to-login{
  margin:1rem auto;
  font-size:0.85rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signup_container {
    flex-direction: column;
    align-items: center;
    height: 65vh;
    width: 90vw;
    min-width: 0;
    margin-top: 2rem;
    padding: 1rem;
  }

  .signup_form {
    width: 100%;
    padding: 1rem;
    height: auto;
    border-radius: 20px;
  }

  .signup_img {
    position: static;
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
  }

  .signup_header {
    font-size: 2rem;
  }

  .sign-text {
    width: 100%;
    margin: 1rem 0;
  }

  .sign-btn {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
}
